@model IEnumerable<TodoList.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<div class="filter-list task-update-partial">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item d-flex align-items-left ps-3 pe-0 py-1 border-0 bg-transparent">
            <div class="form-group">
                <label class="control-label">Priority</label>
                <select name="Priority" asp-items="Html.GetEnumSelectList<TaskPriority>()"></select>
            </div>
        </li>
        <li class="list-group-item d-flex align-items-left ps-3 pe-0 py-1 border-0 bg-transparent">
            <div class="form-group">
                <label class="control-label">State</label>
                <select name="Priority" asp-items="Html.GetEnumSelectList<TaskState>()"></select>
            </div>
        </li>
        <li class="list-group-item d-flex align-items-left ps-3 pe-0 py-1 border-0 bg-transparent">
            <form asp-controller="Task" asp-action="Filter">
                <input type="submit" value="Filter" />
            </form>
        </li>
    </ul>
</div>

<div class="task-create">
    <a asp-action="Create">Create new task</a>
</div>

<div class="search task-update-partial">
    <form asp-controller="Task" asp-action="Search">
        <p>
            Search: <input type="text" name="searchString" />
            <input type="submit" value="Search" />
        </p>
    </form>
</div>

<div class="task-update-partial">
    <input type="submit" value="Search" />
</div>

<div id="task-list">
    @foreach (var item in Model)
    {
        <div id="item-id-@item.Id class="partial">
            @await Html.PartialAsync("_IndexPartial", @item)
        </div>
    }
</div>


